* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	background-color: #1a195c;
	color: white;
	overflow-x: hidden;
}

@import "_inicio.scss";
@import "_navbar.scss";
@import "_price.scss";
@import "_spacing.scss";
